*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#2563eb);
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:380px;
    padding:40px;
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,0.2);
    border-radius:18px;
    color:white;
    box-shadow:
        0 8px 30px rgba(0,0,0,.35);
}

.login-box h1{
    text-align:center;
    margin-bottom:8px;
}

.login-box p{
    text-align:center;
    color:#dbeafe;
    margin-bottom:30px;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-size:15px;
}

.input-group input{
    width:100%;
    padding:14px;
    border:none;
    outline:none;
    border-radius:10px;
    background:rgba(255,255,255,.15);
    color:white;
    font-size:15px;
}

.input-group input::placeholder{
    color:#d1d5db;
}

.input-group input:focus{
    background:rgba(255,255,255,.25);
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    background:#3b82f6;
    color:white;
    transition:.3s;
}

button:hover{
    background:#2563eb;
    transform:translateY(-2px);
}